<%= render "spree/admin/shared/configuration_menu" %>

<% content_for :page_title do %>
   <%= Spree.t("edit_event") %>
<% end %>



<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back_to_events_list), spree.admin_events_url, :icon => 'icon-arrow-left' %></li>
<% end %>

<%= render "spree/shared/error_messages", :target => @event %>

<%= form_for [:admin, @event] do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>

<%= form_for :event, url: {action: "create"} do |f| %>
<table>
<% if(!@event.id.nil?) %>
<%= f.hidden_field :id, :value => @event.id %>
<% end %>

<tr>
<td><%= f.label :title %><span class="required">*</span></td>
<td><%= f.text_field :title, :class => 'fullwidth title' %>
<%= f.error_message_on :title %></td>
</tr>
<tr>
<td><%= f.label :subtitle %></td>
<td><%= f.text_field :subtitle, {:class => 'fullwidth'} %></td>
</tr>
<tr>
<td><%= f.label :date %></td>
<td><%= f.date_field(:date) %></td>
</tr>
<tr>
<td><%= f.label :begin %></td>
<td><%= f.time_field(:begin, { :step => 900 } ) %></td>
</tr>
<tr>
<td><%= f.label :body %></td>
<td><%= f.text_area :body, {:class => 'fullwidth'} %></td>
</tr>
<tr><td colspan="2">
<% if(!@event.id.nil?) %>
<%= f.submit "Event aktualisieren" %>
<% else %>
<%= f.submit %>
<% end %>

</td></tr>
<% end %>
</table>
