<%= render "spree/admin/shared/configuration_menu" %>
<% self.title = "foo" %>

<% content_for :title do %>
<%= Spree.t('event_invitation.list_of_events') %> 
<% end %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t('event_invitation.list_of_event_locations'), spree.admin_event_locations_url, :icon => 'icon-plus', :id => 'admin_event_locations' %></li>
  <li><%= button_link_to Spree.t('event_invitation.new_event'), new_object_url, :icon => 'icon-plus', :id => 'admin_new_event' %></li>
<% end %>


<h2><%= Spree.t('event_invitation.list_of_events') %></h2>

<% if flash[:notice] %>
<p class="notice"><%= flash[:notice] %></p>
<% end %>

<table>
<tbody>
<tr><th><%= Spree.t('event_invitation.title') %></th><th><%= Spree.t('event_invitation.date') %></th><th><%= Spree.t('event_invitation.begin') %></th><th><%= Spree.t('event_invitation.location') %></th></tr>


  <% @events.each do |event| %>
  <tr
		<% if event.date < Time.new %>
		<%= ' class=event_over ' %>
		<% end %>
		>
    <td><%= event.title %></td>
    <td><%= event.date %></td>
    <td><%= event.begin %></td>
    <td><%= event.event_location.name %></td>
    <td class="actions" data-hook="admin_pages_index_row_actions">
      <%= link_to_edit event, :no_text => true %>
      <%= link_to_delete event, :no_text => true %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>
