<% events = Spree::Event.all.where('date > ?', Date.today).order('date ASC') %>

<% if events && events.size > 0 %> 
<div id="event-list">
  <h2><%= Spree.t('event_invitation.list_of_events') %></h2>
  <table>
	 <tbody>
		<% events.each do |event| %>
		<tr>
		  <td class="title"><%= event.title %></td>
		  <td><%= I18n.localize(event.date, :format => '%d %B %Y') %></td>
		  <td><%= event.begin %></td>
		  <td><%= event.event_location.name %></td>
		</tr>
		<% end %>
	 </tbody>
  </table>
</div>
<% end  %> 
